

{% extends 'base.html'%}

{% load static %}
{% block content %}
<div class="page-header">
   <div class="row align-items-center">
      <div class="col">
         <h7 class="page-title">कुपन माग गर्नुहोस</h7>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form action="{% url 'issue_staff_coupon' %}" method="post" id="form">
              {% csrf_token %}

                  <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                          <label for="name" >आर्थिक बर्ष<sup class="text-danger">*required</sup></label>
                          <select class="form-control" name="fiscal_year" required>
                            {% for i in fiscal_year %}
                            <option value="{{i.id}}">{{i.name}}</option>   
                            {% endfor %}
                          </select>
                        </div>
                     </div>
                    <div class="col-md-5">
                            <div class="form-group">
                               <label for="darta_date">कुपन मिति <sup class="text-danger">*required</sup></label>
                               <input type="text" class="form-control nepali-date date-required-check" name="date" 
                                 placeholder="कुपन माग मिति" required>
                            </div>
                         </div>
                         <div class="col-md-5">
                            <div class="form-group">
                                <label for="name">कर्मचारीको नाम <sup class="text-danger">*required</sup></label>
                                <input type="text" class="form-control" name="employee_id" value={% for i in employee%}{{i.admin.id}} {% endfor %} hidden >
                                <input type="text" class="form-control" name="name" value="{% for i in employee %}{{i.name}} {% endfor %}"  readonly >
                            </div>
                         </div>     
                         <div class="col-md-6">
                           <div class="form-group">
                               <label for="name" >इन्धको प्रयोजन<sup class="text-danger">*required</sup></label>
                          <select class="form-control" name="objective" required>
                            {% for i in objective %}
                            <option value="{{i.id}}">{{i.name}}</option>   
                            {% endfor %}
                          </select>
                           </div>
                        </div>             
                         <div class="col-md-5">
                            <div class="form-group">
                              <label for="name" >पेट्रोल पम्प<sup class="text-danger">*required</sup></label>
                              <select class="form-control" name="petrolpump_name" required>
                                {% for i in petrolpump %}
                                <option value="{{i.id}}">{{i.name}}</option>
                                {% endfor %}    
                              </select>
                            </div>
                         </div>
                         <div class="col-md-4">
                            <div class="form-group">
                              <label for="name" >इन्धनको प्रकार<sup class="text-danger">*required</sup></label>
                              <select class="form-control" name="fuel_type" required>
                                {% for i in fueltype %}
                                <option value="{{i.id}}">{{i.name}}</option>                    
                                {% endfor %}
                              </select>
                            </div>
                         </div>

                    
                         <div class="col-md-4">
                            <div class="form-group">
                               <label for="vehicle"> आवश्यक परिमाण(लिटर)<sup class="text-danger">*required</sup></label>
                               <input type="text" class="form-control" name="liter" id="vehilce" placeholder="लिटर" required>
                            </div>
                         </div>       
    

               <div class="col-12">
                     <button type="submit" class="btn btn-success">Save </button>
               </div>
              
             
            </form>
         </div>
      </div>
   </div>
</div>

{% endblock%}

{% block script %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" ></script>
<script>
    jQuery('#form').validate({
        rules:{
            name:"required",
            date:"required",
            liter:  "required",
        },messages:{
            name:"Please enter your name",
            date:"Please enter your coupon date",
            liter:"Please enter your liter",
            
        },
        submitHandler:function(form){
            form.submit();
        }
    });

</script>


{% endblock %}





