<script>
  'use strict';

  $(document).ready(function() {
  
      // Area chart
      
      var options = {
          series: [{{total_budget}}, {{total_cost}}],
          chart: {
          height: 310,
          width: '100%',
          type: 'pie',
        },
        labels: ['Total Budget', 'Totol Expenditure'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#Budget_expenditure"), options);
        chart.render();
  
  
    
  });

</script>