

{% extends 'base.html'%}

{% load static %}
{% block content %}
<div class="page-header">
   <div class="row align-items-center">
      <div class="col">
         <h7 class="page-title">Add Employee</h7>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form action="{% url 'update_employee' %}" method="post"  enctype ="multipart/form-data" content='text/html; charset=UTF-8' >
              {% csrf_token %}
              <div class="col-12">
                <h5 class="form-title"><span>Edit Employee </span></h5>
             </div>

                  <div class="row">
    
                    <div class="col-md-4">
                            <div class="form-group">
                               <label for="darta_date">नियुक्ति/निर्वाचित मिति <sup class="text-danger">*required</sup></label>
                               
                               <input type="text" class="form-control nepali-date date-required-check" name="appointed_date" id="darta_date"
                               value={% for i in employee %}{{i.appointed_date|date:'Y-m-d'}} {% endfor %} >
                            </div>
                         </div>
                         <div class="col-md-4">
                            <div class="form-group">
                               <label for="name">कर्मचारी/जनप्रतिनिधि/अन्यको नाम <sup class="text-danger">*required</sup></label>
                               <input type="text" class="form-control" name="name" value="{% for i in employee %}{{i.name}} {% endfor %}"  >
                            <input type="text" class="form-control" name="employee_id" value="{% for i in employee%}{{i.admin.id}} {% endfor %}" hidden >
                            </div>
                         </div>
                         
                         
                    <div class="col-md-4">
                           <div class="form-group">
                              <label for="name">कुपन प्रापकको प्रकार <sup class="text-danger">*required</sup></label>
                              <select class="form-control" name="typeemployee" required>
                                           
                                 {% for i in typeemployee %}
                                 <option value="{{i.id}}">{{i.type}}</option>
                                 {% endfor %}
                               </select>
                           </div>
                        </div>
                      
                         <div class="col-md-4">
                          <div class="form-group">
                            <label for="name" >कार्यरत स्थान<sup class="text-danger">*required</sup></label>
                
                            <select class="form-control" name="workplace" required>
                            
                              {% for i in workplace %}
                              <option value="{{i.id}}">{{i.name}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        
                       </div>

                         <div class="col-md-4">
                            <div class="form-group">
                              <label for="name" >कार्यरत शाखा<sup class="text-danger">*required</sup></label>
                              <select class="form-control" name="dep_name" required>
                            
                                {% for i in department %}
                                <option value="{{i.id}}">{{i.dep_name}}</option>
                                {% endfor %}
                               
                     
                              </select>
                            </div>
                         </div>
                         <div class="col-md-4">
                           <div class="form-group">
                              <label for="designation">कार्यरत पद <sup class="text-danger">*required</sup></label>
                              <input type="text" class="form-control" name="designation" id="name"  value = "{% for i in employee %}{{i.designation}} {% endfor %}" >
                           </div>
                        </div>
                        
                         <div class="col-md-4">
                            <div class="form-group">
                               <label for="mobile"> मोबाइल नम्बर <sup class="text-danger">*required</sup></label>
                               <input type="text" class="form-control" name="mobile" id="name" value="{% for i in employee %}{{i.mobile}} {% endfor %}" >
                            </div>
                         </div>
                         <div class="col-md-4">
                           <div class="form-group">
                              <label for="mobile"> इमेल <sup class="text-danger">*required</sup></label>
                              <input type="email" class="form-control" name="email" id="name" value="{% for i in employee %}{{i.admin.email}} {% endfor %}" >
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="mobile"> Username <sup class="text-danger">*required</sup></label>
                              <input type="text" class="form-control" name="username" id="name" value="{% for i in employee %}{{i.admin.username}} {% endfor %}" readonly >
                           </div>
                        </div>
                       
                       
                        
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="vehicle"> Password <sup class="text-danger">*required</sup></label>
                              <input type="password" class="form-control"  name="password"placeholder="fill only if you want to change" name="password" >
                           </div>
                        </div>
                  
             
               <div class="col-md-4">
               <div class="form-group">
                 <label for="email"> सवारी नम्बर <sup class="text-danger">*required</sup></label>
                 <input type="text" class="form-control" name="vehicle" id="vehcile" value="{% for i in employee %}{{i.vehicle}} {% endfor %}">
              </div>
           </div>
           
                  <div class="col-md-4">
               <div class="form-group">
                 <label for="email"> सवालरी चालक नम्बर <sup class="text-danger">*required</sup></label>
                 <input type="text" class="form-control" name="liscen_no" id="vehcile" value="{% for i in employee %}{{i.liscen_no}} {% endfor %}">
              </div>
           </div>
      
               <div class="col-12">
                     <button type="submit" class="btn btn-success">Save </button>
               </div>
              
             
            </form>
         </div>
      </div>
   </div>
</div>


<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLongTitle">Leave Apply History</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <div class="col-sm-12">
                 <div class="card card-table">
                    <div class="card-body">
                       <div class="table-responsive">
                          <table id="table_id" class="table table-hover table-center mb-0">
                             <thead>
                                <tr>
                               
                      
                                   <th>Country </th>
                                   <th>From</th>
                                   <th>To</th>
                                   <th>Visitor</th>
                                   <th class="text-right">Status</th>
                                </tr>
                             </thead>
                             <tbody>
                               {% for i in person_leave_history %}
                                <tr>
                                   <td>{{i.country_visit}}</td>
                                   <td>{{i.from_date|date:'Y-m-d'}}</td>
                                   <td>{{i.to_date|date:'Y-m-d'}}</td>
                                   <td>{{i.visitors}}</td>
                                   <td class="text-right">
                                      <div class="actions">
                                         {% if i.status == 0 %}
                                         <span class="badge badge-primary">Request are pending</span>
                                         {% elif i.status == 1  %}
                                         <span class="badge badge-success">Accepted</span>
                                         {% else  %}
                                         <span class="badge badge-danger">Rejected</span>
                                         {% endif %}
                                      </div>
                                   </td>
                                </tr>
                                {% endfor %}
                                
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
           </div>
     </div>
   </div>
 </div>
 
 


{% endblock%}





