<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> </title>
  <style>
#main-content1{
  margin: auto;
  width: 80%;
  border: 4px solid #73AD21;
  padding: 10px;
  text-align: center;

}

.header {
  line-height: 80%;
 
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}
.sign {
  text-align: right;
}

#table-font {
  font-size: 15px;

}




</style>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>



<div id="main-content1">
  <div class="header">

<img src="logo.jpg" alt="Trulli" width="150" height="100">
 <h3>हरिहरपुरगढी गाउँपालिका</h3>
      <h4>गाउँ कार्यपालिकाको कार्यालय</h4>
        <h5>झनझने. सिन्धली, बागमति प्रदेश</h5> 
    
  </div>
   
 




    <table cellpadding="7px" id="table-font" class="table table-bordered" >
        <thead>
  
        <th>पेट्रोल पम्पको नाम </th>
        <th>ठेगाना</th>
        <th>कर्मचारीको नाम</th>
         <th>इन्धनको किसिम</th>
        <th>इन्धनको परिमाण</th>
          
        <th>मिति</th>
        <th>गाडी नम्बर</th>

        </thead>
        <tbody>
      
            <tr>
        
          
            </tr>





        </tbody>


    </table>

  <br>
  <br>
  <div class="sign">
  ....................................... <br>
  प्रमुख प्रशासकिय अधिकृत
  </div>

  <div>
   <p1><i>  यो कुपन जारी भएको महिना भित्र इन्धन पेट्रोल पम्पबाट लिइसक्नु पर्नेछ ।  ।<i></p1>
  </div>
</div>
